html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{font-family: IRANSans;}


.main-nav ul li {
    float: none;
	display:inline-block;
	width: 32.5%;
}
.sidebar-nav ul li img,.main-nav ul li img{width: 100%;}

.navbar_left.rtl{
	float:left;
	width:70px;
	height:70px;
	text-align:center;
	padding:0;
}
.navbar_left.rtl img{
	display:inline-block;
	max-width:40%;
	padding:8px 0 0 0;/*20px 0 0 0*/
}
.homenavbar h1{
	color:#fff;
	font-size:22px;
	font-weight:300;
	padding:5px 0 0 0;
	margin:0px;
	float:right;
	letter-spacing:-1px;
}
.homenavbar {
	width: 95%;
	padding: 5px 5% 0 0;
}
.swiper-container {
	border-bottom-left-radius:0% 0%;
	border-bottom-right-radius:100% 50%;
}
.main-nav.rtl{direction:rtl;}
.main-nav ul li img.smaller {max-width: 24%;}
.sidebar-nav ul li img {
    float: right;
}
.sidebar-nav ul li{text-align:right;direction:rtl;}
.sidebar-nav  ul li span{text-align:right;direction:rtl;float:right;padding: 16px 20px 0 0;}
h1 img.logo{
    width: 14%;
    float: right;
    max-width: 40%;
    position: absolute;
    right: 2%;
    top: 15%;
}
.slider-caption h2{direction:rtl;}
















