html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td{font-family: IRANSans;}

.main-nav ul li {
    float: none;
	display:inline-block;
	width: 32.5%;
}
/*
.main-nav ul{margin-top:-20px;}
@media screen and (max-width: 680px){.main-nav ul{margin-top:-10px;}}
.main-nav ul li {
    float: none;
    display: inline-block;
    width: 32.5%;
    border: 1px solid rgba(256,256,256,0.3);
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
}
@media screen and (max-width: 680px){.main-nav ul li {padding: 10px 0 10px 0;}}
*/
.sidebar-nav ul li img,.main-nav ul li img{width: 100%;}

.navbar_left.rtl{
	float:left;
	width:70px;
	height:70px;
	text-align:center;
	padding:0;
}
.navbar_left.rtl img{
	display:inline-block;
	max-width:40%;
	padding:8px 0 0 0;/*20px 0 0 0*/
}
.homenavbar h1{
	color:#fff;
	font-size:22px;
	font-weight:300;
	padding:5px 0 0 0;
	margin:0px;
	float:right;
	letter-spacing:-1px;
}
.homenavbar {
	width: 95%;
	/*padding: 5px 5% 0 0;*/
}
.swiper-container {
	border-bottom-left-radius:0% 0%;
	border-bottom-right-radius:100% 50%;
	background-color:transparent;
	
	-webkit-box-shadow: 0 7px 4px #2db3c8;
	-moz-box-shadow: 0 7px 4px #2db3c8;
	box-shadow: 0 7px 4px rgba(45,179,200,0.3);
}
.main-nav.rtl{direction:rtl;}
.main-nav ul li img.smaller {max-width: 24%;}
.sidebar-nav ul li img {
    float: right;
	background-color:#105f8c;
}
.sidebar-nav ul li{text-align:right;direction:rtl;}
.sidebar-nav  ul li span{text-align:right;direction:rtl;float:right;padding: 16px 20px 0 0;}
h1 img.logo{
    width: 14%;
    float: left;
    max-width: 40%;
    position: absolute;
    left: 3%;
    top: 27%;/*15%;*/
}
.slider-caption h2{direction:rtl;}
.slider-description{color:transparent !important;height:0;}
.panel-right {
    background-color: #001435;
    background-image: url(../images/47480222-cloud-wallpaper.jpg);
    background-size: cover;
    background-position: bottom center;
}
.homepage {
    /* background-color: #001435; */
/* background: #000046; */
/* background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046); */
/* background: linear-gradient(to bottom, #1CB5E0, #000046); */

/* background: #409bba; */
/* background: -webkit-linear-gradient(to top, #2c778a, #409bba); */
/* background: linear-gradient(to top, #2c778a, #409bba); */

/* background: #000046;  /* fallback for old browsers */ */
/* background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */ */
/* background: linear-gradient(to bottom, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */

background: #58accf;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #58accf, #105f8c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #58accf, #105f8c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.sidebar-nav ul li {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 0 1px 0;
    display: block;
    float: left;
    clear: both;
    text-align: left;
    background: rgba(29,32,45,0.7);
    background: rgba(16,102,140,0.9);
    /* background: -webkit-linear-gradient(to right, #1d202d, #26d087); */
    /* background: -o-linear-gradient(to right, #1d202d, #26d087); */
    /* background: -moz-linear-gradient(to right, #1d202d, #26d087); */
    /* background: linear-gradient(to right, #1d202d, #26d087); */
}
.li_placeholder {
    height: 46px;
    color: transparent;
}
.swiper-pagination-bullet {border: 2px #1dbdd9 solid;}
.swiper-pagination-bullet-active{background: #1dbdd9;border: 1px #1dbdd9 solid;}
/*/////////////////////////////////////////////////////////////////////////////////////////////////\\\\\*/
#ContactForm label,#ContactForm input.form_input {
    direction: rtl !important;
}
#ContactForm input.form_submit {
    font-family: IRANSans !important;
}
h2.page_title {
    direction: rtl;
}
blockquote,h3 {direction: rtl;}
.logo_text {
    direction: rtl;
    text-align: left;
	font-size:18px;
	line-height: 50px;
}
.logo_text span {
    font-size: 15px;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////\\\\\*/
.post_details {direction: rtl;}
.post_single,.post_single p {
    direction: rtl;
    text-align: justify;
}
h2.blog_title {
    direction: rtl;
}
.post_thumb img {
    opacity: 0.95;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}
.post_thumb .post_thumb_details img {
    border: 0px solid #f2f2f2;
}














